Ans1

In [ ]:
import pandas as pd

In [5]:
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']

In [6]:
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

In [ ]:
df

Ans2

In [11]:
list(df.iloc[1])

['Machine Learning', 3]

In [13]:
df.loc[0:2]

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

In [14]:
df.iloc[0:2]

        course_name  duration
0      Data Science         2
1  Machine Learning         3

loc gets rows/columns with particular labels. iloc gets rows/columns at integer locations.

Ans3

In [17]:
new_df=df.reindex([3,0,1,2])

In [18]:
new_df

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

In [19]:
new_df.loc[2]

course_name    Big Data
duration              6
Name: 2, dtype: object

In [21]:
new_df.iloc[2]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

There is a difference in two outputs because loc gives the row of provided location and iloc gives the row of index provided

Ans4

In [36]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [37]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.525196  0.685556  0.436256  0.175586  0.953886  0.042412
2  0.081581  0.852084  0.440113  0.533042  0.521504  0.335861
3  0.784784  0.637275  0.441192  0.585015  0.509783  0.254768
4  0.301634  0.396013  0.132202  0.490142  0.581734  0.938268
5  0.518176  0.583972  0.340887  0.190862  0.825506  0.411876
6  0.867954  0.594585  0.935671  0.180968  0.799476  0.477416

In [38]:
df1.mean()

column_1    0.513221
column_2    0.624914
column_3    0.454387
column_4    0.359269
column_5    0.698648
column_6    0.410100
dtype: float64

In [39]:
df1['column_2'].std()

0.14861209387598054

Ans5

In [46]:
df1.loc[:,'column_2']='String'

In [48]:
df1

   column_1 column_2  column_3  column_4  column_5  column_6
1  0.525196   String  0.436256  0.175586  0.953886  0.042412
2  0.081581   String  0.440113  0.533042  0.521504  0.335861
3  0.784784   String  0.441192  0.585015  0.509783  0.254768
4  0.301634   String  0.132202  0.490142  0.581734  0.938268
5  0.518176   String  0.340887  0.190862  0.825506  0.411876
6  0.867954   String  0.935671  0.180968  0.799476  0.477416

In [49]:
df1['column_2'].mean()

TypeError: Could not convert StringStringStringStringStringString to numeric

because the mean method is to be applied only on numeric data not on strings

Ans6

Window functions are used to perform some sort of calculations across a set of rows that are interrelated with the current row. The windows functions help us to perform the aggregated calculations across various partitions or cross-sections of the data.

In [52]:
df1.rolling(window=1).mean()

C:\Users\manideep\AppData\Local\Temp\ipykernel_13900\3525960997.py:1: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['column_2'], dtype='object')
  df1.rolling(window=1).mean()

   column_1  column_3  column_4  column_5  column_6
1  0.525196  0.436256  0.175586  0.953886  0.042412
2  0.081581  0.440113  0.533042  0.521504  0.335861
3  0.784784  0.441192  0.585015  0.509783  0.254768
4  0.301634  0.132202  0.490142  0.581734  0.938268
5  0.518176  0.340887  0.190862  0.825506  0.411876
6  0.867954  0.935671  0.180968  0.799476  0.477416

Ans7:

In [58]:
from datetime import date

In [60]:
date.today().year

2023

In [62]:
date.today().month

2

Ans8:

In [5]:

def diffdate(d1,d2):
    time1 = pd.Timedelta(days =d1.day , hours = d1.hour , minutes = d1.minute)
    time2 = pd.Timedelta(days =d2.day , hours = d2.hour , minutes = d2.minute)
    print(abs(time2-time1))

In [6]:
d1=input("enter the first date YYYY-MM-DD")
d2=input("enter the first date in YYYY-MM-DD")
diffdate(pd.to_datetime(d1), pd.to_datetime(d2))

enter the first date YYYY-MM-DD2002-08-23
enter the first date in YYYY-MM-DD2023-02-27
4 days 00:00:00

Ans9

In [3]:
def cato(fp,col,order):
    data=pd.read_csv(fp)
    cate=data[col]
    cat=pd.Categorical(cate)
    flag=True
    if(order=='decending'):
        flag=False
    cat.sort_values(ascending=flag)

In [ ]:
fp=input("enter the file path")
col=input('enter th column')
order=input('enter ascending or decending order')

cato(fp,col,order)

Ans11

In [10]:
index=[1,2,3,4,5,6,7,8,9,10]
data=[85,90,80,75,85,82,78,85,90,85]

In [11]:
data=pd.DataFrame({'Student_ID':index,'Test_Score':data},)

In [12]:
data

   Student_ID  Test_Score
0           1          85
1           2          90
2           3          80
3           4          75
4           5          85
5           6          82
6           7          78
7           8          85
8           9          90
9          10          85

In [71]:
def calci(fp):
    data=pd.read_csv(fp)
    x1=data['Test_Score'].mean()
    x2=data['Test_Score'].median()
    x3=data['Test_Score'].mode()
    return pd.DataFrame({"Statistic":["Mean","Medain","Mode"],"Value":[x1,x2,x3]})

In [ ]:
filepath=input("enter the path")
calci(filepath)